.loginScreen{
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}
.loginScreen .loginBox {
  position: absolute;
    background-color: rgba(55,55,55,.4);
    border: solid rgba(0, 255, 255, 0.39) 1px;
    color: #eee;
    width: 500px;
    left:0;
    right:0;
    margin: auto;
    padding: 25px;
    top:50%;
    transform: translateY(-50%);
}
.loginScreen .loginBox input, .loginScreen .loginBox label {
    display: block;
    margin: 10px auto;
    text-align: center;
}
.loginScreen .loginBox input {
    color: #333;
}
