.puns{
        color: #ddd;
        margin-left: 30px;
        height: 100vh;

}
#canvas, #video {
    height: 600px;
    width: 800px;
    position: absolute;;
}
#video {
    display: none;
}
canvas, video {
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    filter: FlipH;
    transform: scale(-1, 1);
}
.canvas-frame{
  position: absolute;
  top:50%;
  left:50%;
  height: 600px;
  width: 800px;
  transform: translate(-50%, -50%);
  z-index: -1;
}


* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.dg.ac {
    z-index: 100 !important;
    top: 50px !important;
}

.puns__waiting_for_players, .puns__score_announcement {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #222;
    color: #fff;
    z-index: 100000;
    top: 0;
    left: 0;

}
.puns__waiting_for_players{
    opacity: 1;
    display: block;
}
.puns__waiting_for_players:after{
  content: "";
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url('../GameGallery/img/games_bg.jpg');
  background-size: cover;
  background-position: center;
}
.puns__score_announcement{
    display: none;
}


.puns__waiting_for_players span, .puns__score_announcement span {
    position: relative;
    display: block;
    top: 50%;
    text-align: center;
    margin-top: -20px;
    font-size: 40px;
}
.puns_drawingMode{
    display: none;
}


/* ################## */

/* ## GAMING ROOM ## */

/* ################## */

.gamingRoom .puns__waiting_for_players {
    opacity: 0;
    display: none;
}


/* ################## */

/* ##  EMPTY ROOM  ## */

/* ################## */

.emptyRoom .puns__waiting_for_players {
    opacity: 1;
    display: block;
}


/* ################## */

/* ## DRAWING MODE ## */

/* ################## */

.drawingMode #video {
    display: block;
}
.drawingMode .puns_drawingMode{
    display: block;
}


#game-box{
  position: relative;
  float: left;
  height: 100%;
  width: calc(85vw - 31px);
  top:0;
  left:0;
}

#chat-box{
  position: relative;
  float: right;
  background-color: #222;
  z-index: 10000;
  height: 100%;
  width: 15vw;
  top: 0;
  right: 0;
  color: #ddd;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2);
}





@media screen and (max-width: 1000px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #333;
    }
    #pencil {
        width: 200px;
        height: 200px;
        position: absolute;
        left: calc(50vw - 100px);
        top: calc(50vh - 100px);
        background-color: magenta;
    }
    .demo-frame {
        display: none;
    }
}
